@model IEnumerable<AudioBooksApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}


<p style="margin-bottom: 2%;">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="width:6%">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @{
                        var imageUrl = item.ImageUrl;
                        var displayText = imageUrl != null && imageUrl.Length > 30 ? imageUrl.Substring(0, 30) + "..." : imageUrl;
                    }

                    @Html.DisplayFor(modelItem => displayText)

                </td>
                <td>
                    @{
                        var filePath = item.ImageUrl;
                        var displayPath = filePath != null && filePath.Length > 30 ? filePath.Substring(0, 30) + "..." : filePath;
                    }
                    @Html.DisplayFor(modelItem => displayPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reader.Name)
                </td>
                <td>
                    <div class="d-flex">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning me-2">Edit</a>

                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info me-2">Details</a>

                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
