@model IEnumerable<Book>

@{
    ViewData["Title"] = "List of Books";
}
<div>
    <div id="imageContainer">
        <img src="https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/technology/home-technology/radio-and-audio/audiobooks.png" alt="Image 1">
        <img src="https://blog-cdn.reedsy.com/directories/admin/featured_image/534/audiobook-guide-fastest-growing-book-format-3b2527.jpg" alt="Image 2">
        <img src="https://www.popsci.com/uploads/2023/10/19/best-audiobook-apps.jpg?auto=webp&width=1440&height=810" alt="Image 3">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form asp-controller="Home" asp-action="Search" method="get">
            <div class="input-group input-group-sm">
                <input name="searchString" type="text" class="form-control" placeholder="Search for a book..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div>
            <span style="margin-right:2%;margin-left:2%; border: 1px solid #ccc; background-color: #f8f9fa; padding: 5px; border-radius: 5px;">Sort after Title</span>
            <a asp-action="Sorted" asp-route-sortOrder="@ViewBag.TitleSortParam" asp-route-sortField="Title" class="btn btn-secondary">
                <i class="bi bi-caret-up"></i>
            </a>
            <a asp-action="Sorted" asp-route-sortOrder="@ViewBag.TitleSortParam" asp-route-sortField="Title" class="btn btn-secondary">
                <i class="bi bi-caret-down"></i>
            </a>
            <span style="margin-right:2%;margin-left:2%; border: 1px solid #ccc; background-color: #f8f9fa; padding: 5px; border-radius: 5px;">Sort after Price</span>
            <a asp-action="Sorted" asp-route-sortOrder="@ViewBag.PriceSortParam" asp-route-sortField="Price" class="btn btn-secondary">
                <i class="bi bi-caret-up"></i>
            </a>
            <a asp-action="Sorted" asp-route-sortOrder="@ViewBag.PriceSortParam" asp-route-sortField="Price" class="btn btn-secondary">
                <i class="bi bi-caret-down"></i>
            </a>
        </div>
    </div>


</div>




<div class="row" style="margin-top:1%">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@item.ImageUrl" class="card-img-top" alt="@item.Title">

                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">
                        <b>Length:</b> @item.Length<br>
                        <b>Price:</b> @item.Price EUR<br>
                        <b>Publication Date:</b> @item.PublicationDate.ToString("dd MMM yyyy")<br>
                        <b>Category:</b> @item.Category<br>
                        <b>Author:</b> @item.Author.Name<br>
                        <b>Reader:</b> @item.Reader.Name<br>
                        <b>Publisher:</b> @item.Publisher.Name<br>
                    </p>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <a href="@Url.Action("Details", "Books", new { id = item.Id })" class="btn btn-outline-primary"><i class="bi bi-eye-fill"></i> Show Details</a>
                        </div>
                        <div class="col-6 text-end">
                            <a href="@Url.Action("AddItemShoppingCart", "Orders", new { id = item.Id })" class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Price @item.Price.ToString() EUR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    #imageContainer {
        display: flex;
        overflow: hidden;
        height: 200px;
        margin-bottom: 20px;
    }

        #imageContainer img {
            flex: 1;
            width: 33%;
            height: auto;
        }

</style>